# Python
*.egg*
*.py[co]
.cache
.coverage
.ipynb_checkpoints
.pytest_cache
Pipfile*
__pycache__
alembic
build
dist
# Sass
.sass-cache
# SQLite
*.sqlite
*.sqlite-journal
# Transient
*.log
*.map
*.out
*.tmp
.DS_Store
data_*
# Vim
*.sw[op]
*~
# Node
.env
node_modules
npm-debug.log*
package-lock.json
