# vim
*.sw[op]
*~
# python
*.egg*
*.py[co]
.cache
.coverage
.ipynb_checkpoints
.pytest_cache
Pipfile*
__pycache__
alembic
build
dist
# sass
.sass-cache
# sqlite
*.sqlite
*.sqlite-journal
# transient
*.log
*.map
*.out
*.tmp
.DS_Store
data_*
